<div id="<%= dom_id password_info %>">
  <p>
    <strong>Website:</strong>
    <%= password_info.website %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= password_info.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= password_info.password %>
  </p>

  <p>
    <strong>Date added:</strong>
    <%= password_info.date_added %>
  </p>

</div>
